.landing-retos-acceso-container{
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-bottom: 100px;

}

.landing-retos-acceso-container h3{
    font-family: TuskerGrotesk65 !important;
    text-align: center;
    font-size: 25px;
    max-width: 300px;
    margin: auto;
}

.img-recuadro{
    width: 100%;
    max-width: 370px;
}

.landing-retos-acceso-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
}

.landing-retos-acceso-content .landing-retos-acceso-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.landing-retos-acceso-content .number{
    text-align: center;
    font-family: CoreSansC65 !important;
    font-size: 50px;

}

.landing-retos-acceso-content .acceso-text{
    text-align: center;
    position: absolute;
    font-family: CoreSansC65 !important;
    font-size: 15px;
    max-width: 300px;
}
.landing-retos-acceso-content .acceso-text-normal{
    text-align: center;
    font-weight: normal;
    position: absolute;
    font-family: CoreSansC65;
    font-size: 15px;
    max-width: 350px;
}


.landing-retos-acceso-bottom-img{
    width: 100px;
    margin-top: -160px;
    position: absolute;
    margin-bottom: auto;
    left: 0;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {

    .landing-retos-acceso-container h3{
        font-size: 40px;
    }
    .img-recuadro{
        width:100%;
        max-width: 600px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .landing-retos-acceso-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        margin-bottom: 100px;
    }

    .landing-retos-acceso-container .number{
        font-size: 70px;
        margin-bottom: 10px;
    }

    .landing-retos-acceso-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .landing-retos-acceso-container h3{
        text-align: center;
        font-size: 60px;
        max-width: 600px;
        margin-bottom: 20px;
        margin: 0 auto;
    }

    .landing-retos-acceso-content .acceso-text{
        min-width: 500px;
        font-size: 30px !important;
    }

    .landing-retos-acceso-bottom-img{
        position: absolute;
        margin-bottom: auto;
        left: 0;
        width: 240px;
        margin-top: -249px;
    }

    .landing-retos-acceso-bottom-img-2{
        position: absolute;
        margin-bottom: auto;
        right: 0;
        width: 240px;
        margin-top: -249px;
    }

    .img-recuadro{
        width: 100%;
        max-width: 700px;
    }

    .landing-retos-acceso-content .acceso-text{

        font-size: 25px;

    }
    .landing-retos-acceso-content .acceso-text-normal{

        font-size: 30px;
        max-width: 500px;

    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
