.landing-retos-banner-nutricion-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    flex-direction: column-reverse;
    padding-bottom: 30px;

}

.landing-retos-banner-nutricion-container .text-container{
    max-width: 275px;

}


.landing-retos-banner-nutricion-container .p2 {
    padding-top: 30px;
    font-family: CoreSansC65;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 12px;
    flex: auto;
}


.landing-retos-banner-nutricion-container .img-plato{
    width: 250px;

}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .landing-retos-banner-nutricion-container{
        flex-direction: row;
        height: 475px;
        justify-content: space-evenly;
    }
    .landing-retos-banner-nutricion-container .p2{
        font-style: italic;
        font-size: 25px;
        text-align: left;
    }

    .landing-retos-banner-nutricion-container .img-plato{
        width: 400px;
    }

    .landing-retos-banner-nutricion-container .text-container{
        max-width: 575px;

    }


}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
