.landing-retos-steps-comencemos-bottom-banner-container{
    background-color: #009167;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.landing-retos-steps-comencemos-bottom-banner-container .img-tupper-container{
    width: auto;
    display: flex;
    justify-content: center;
}

.landing-retos-steps-comencemos-bottom-banner-container .text-container{
    max-width: 300px;
}

.landing-retos-steps-comencemos-bottom-banner-container .p1{
    text-align: center;
    font-family: CoreSansC65 !important;
    font-size: 20px;
}

.landing-retos-steps-comencemos-bottom-banner-container .p2{
    font-family: CoreSansC65 !important;
    text-align: center;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
}

.landing-retos-steps-comencemos-bottom-banner-container .img-tupper{
    width: 80px;
}

.landing-retos-steps-comencemos-bottom-banner-container .img-bolsas{
    width: 90px;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

    .landing-retos-steps-comencemos-bottom-banner-container .img-tupper{
        width: 200px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .img-bolsas{
        width: 250px;
    }
}

@media (min-width: 992px) {

    .landing-retos-steps-comencemos-bottom-banner-container{
        height: 300px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .p1{
        font-size: 50px;
        line-height: 50px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .img-tupper-container{
        width: 300px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .p2{
        font-size: 35px;
        line-height: 35px;
        margin: auto;
        width: 100%;
        margin-top: 10px;
        color: white;
        display: flex;
        justify-content: center;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .text-container{
        max-width: 400px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .img-tupper{
        width: 250px;
    }

    .landing-retos-steps-comencemos-bottom-banner-container .img-bolsas{
        width: 300px;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
