.landing-retos-top-banner-container{
    background-image: url("/img/retos/topimg.png");
    flex-direction: row;
    height: 670px;
}

.landing-retos-top-banner-container .imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-retos-top-banner-container .discount-img{
    max-width: 320px;
    margin-top: 170px;
}

.landing-retos-top-banner-container .logo-img{
    margin-bottom: 25px;
    margin: auto;
}

.landing-retos-top-banner-container .imagenes .imagenes-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .landing-retos-top-banner-container .imagenes .imagenes-content{
        justify-content: center;
    }

    .landing-retos-top-banner-container{
      height: 700px;
      display: flex;
    }

    .landing-retos-top-banner-container .top-plates-image{
        position: absolute;
        right: 0;
        top: 0;
        max-width: 46%;
    }

    .landing-retos-top-banner-container .discount-img{
        max-width: 400px;
    }

    .landing-retos-top-banner-container .logo-img{
        margin-top: 0px;
        width: 100px;
    }

    .landing-retos-top-banner-container .imagenes{
        align-items: flex-end;
        width: 50%;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
