.web-home-cocinamos-container{
    margin-top: 40px;
}

.web-home-cocinamos-btn{
    display: flex;
    justify-content: center;
}

.web-home-cocinamos-text{
    width: 100%;
    padding: 16px;
}

.web-home-cocinamos-img{
    position: absolute;
    height: 150px;
    z-index: -1;
    left: 0;
    margin-top: -40px;
}

.web-home-cocinamos-text h1{
    font-family: TuskerGrotesk65 !important;
    font-size: 40px;
    color: #F9F2E1;
    font-weight: 700;
}

.web-home-cocinamos-text h2{
    font-family: TuskerGrotesk35;
    font-size: 24px;
    margin-top: 16px;
}

.web-home-cocinamos-text p{
    font-family: CoreSansC35;
    font-size: 16px;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .web-home-cocinamos-container{
        margin-top: 108px;
        margin-bottom: 164px;
    }

    .web-home-cocinamos-img{
        height: 953px;
        margin-top: -200px;
        left: 200px;
    }

    .web-home-cocinamos-text{
        margin-top: 108px;
    }

    .web-home-cocinamos-text h1{
        font-size: 90px;
        width: 776px;
    }

    .web-home-cocinamos-text h2{
        width: 300px;
    }

    .web-home-cocinamos-text p{
        width: 300px;
    }

    .web-home-cocinamos-desktop-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web-home-cocinamos-desktop-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
