.web-home-cp-time-verify{
    margin-top: 138px;
    margin-bottom: 150px;
    background-color: #F9F0E1;
    padding-top: 62px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-home-cp-time-verify-title{
    color: black;
    font-family: CoreSansC65 !important;
    font-size: 30px;
    max-width: 322px;
    text-align: center;
}

.web-home-cp-time-verify-text{
    text-align: center;
    color: black;
    max-width: 342px;
    font-family: CoreSansC35 !important;
    font-size: 12px;
}

.web-home-cp-time-verify-form{
    display: flex;
    margin-top: 32px;
}

.web-home-cp-time-verify-form-text{
    border: none;
    padding-top: 15px;
    padding-left: 11px;
    padding-bottom: 11px;
    min-width: 212px;
    font-size: 12px;
}

.web-home-cp-time-verify-form-submit{
    background-color: #009167;
    color: #F9F0E1;
    border: none;
    width: 108px;
    font-size: 12px;
}
/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
