.web-home-popup-discount-form{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction:column
}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .web-home-popup-discount-form{
        margin-top: 30px !important;
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
