.web-blackfriday-top-banner-container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.web-blackfriday-top-banner-container .web-blackfriday-top-banner-all-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.web-blackfriday-top-banner-container .top-title{
    font-family: CoreSansC65 !important;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
}

.web-blackfriday-top-banner-container .bottom-title{
    font-family: CoreSansC65 !important;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

.web-blackfriday-top-banner-container .link-button{
    display: flex;
    justify-content: center;
}

.web-blackfriday-top-banner-container .discount-img{
    max-width: 320px;
}

.web-blackfriday-top-banner-container .logo-img{
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100px;
}

.web-blackfriday-top-banner-container .promo-img{
    width: 100%;
    margin-top: -76px;
}

.web-blackfriday-top-banner-container .code-container{
    background-color: #533FB8;
    padding: 15px 20px;
    font-size: 24px;
    max-width: 300px;
    text-align: center;
}

.web-blackfriday-top-banner-container .discount-code-bf{
    font-family: CoreSansC65 !important;
    color: #FF810C;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .web-blackfriday-top-banner-container{
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 800px;
    }

    .web-blackfriday-top-banner-container .top-title{
        font-family: CoreSansC65 !important;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        max-width: 400px;
    }

    .web-blackfriday-top-banner-container .web-blackfriday-top-banner-all-text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: black;
    }

    .web-blackfriday-top-banner-container .bottom-title{
        font-family: CoreSansC65 !important;
        font-size: 37px;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
        max-width: 400px;
    }

    .web-blackfriday-top-banner-container .top-plates-image{
        position: absolute;
        right: 0;
        top: 100px;
        max-width: 900px;
        z-index: -1;
    }

    .web-blackfriday-top-banner-container .code-container{

    }

    .web-blackfriday-top-banner-container .discount-code-bf{

    }

    .web-blackfriday-top-banner-container .link-button{
        display: flex;
        justify-content: center;
    }

    .web-blackfriday-top-banner-container .discount-img{
        max-width: 400px;
    }

    .web-blackfriday-top-banner-container .logo-img{
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 100px;
    }

    .web-blackfriday-top-banner-container .promo-img{
        position: absolute;
        right: 0;
        width: 660px;
        margin-bottom: auto;
        margin-top: 260px;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
