.web-blackfriday-bottom-banner-container{
    background-color: #533FB8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.web-blackfriday-bottom-banner-container .text-container{
    max-width: 275px;
}

.web-blackfriday-bottom-banner-container .p1{
    text-align: center;
    font-family: CoreSansC65 !important;
    font-size: 17px;
}

.web-blackfriday-bottom-banner-container .p2{
    font-family: CoreSansC65 !important;
    text-align: center;
    font-size: 12px;
}

.web-blackfriday-bottom-banner-container .img-tupper{
    width: 90px;
}

.web-blackfriday-bottom-banner-container .img-bolsas{
    width: 90px;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .web-blackfriday-bottom-banner-container{
        height: 300px;
    }

    .web-blackfriday-bottom-banner-container .p1{
        font-size: 35px;
        line-height: 35px;
    }

    .web-blackfriday-bottom-banner-container .p2{
        font-size: 19px;
        line-height: 30px;
        margin: auto;
        max-width: 207px;
    }

    .web-blackfriday-bottom-banner-container .text-container{
        max-width: 400px;
    }

    .web-blackfriday-bottom-banner-container .img-tupper{
        width: 300px;
    }

    .web-blackfriday-bottom-banner-container .img-bolsas{
        width: 300px;
    }

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
