.black-friday-cybermonday-top-banner-content{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.black-friday-cybermonday-top-banner-content .black-friday-cybermonday-left-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-friday-cybermonday-top-banner-content .cybermonday-img{
    width: 100vw;
    margin-bottom: 20px;
    background-color: #000000;
}

.black-friday-cybermonday-top-banner-content .logo-img{
    max-width: 100px;
}

.black-friday-cybermonday-top-banner-content .promo-img{
    margin-top: -60px;
    width: 100vw;
}

.black-friday-cybermonday-top-banner-content .code-container{
    background-color: #533FB8;
    padding: 15px 20px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.black-friday-cybermonday-top-banner-content .discount-code-cm{
    font-family: CoreSansC65 !important;
    color: #FF810C;
}

.black-friday-cybermonday-top-banner-content .img-desktop{
    display: none;
}

/* Extra small devices (phones) */
@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

    .black-friday-cybermonday-top-banner-content{
        height: 800px;
    }

    .black-friday-cybermonday-top-banner-content .black-friday-cybermonday-left-text{
        width: 430px;
        margin-right: 15%;
        margin-left: auto;
        padding-right: 20px;
        padding-top: 125px;
        padding-bottom: 125px;
        background-color: black;
    }

    .black-friday-cybermonday-top-banner-content .cybermonday-img{
        width: 400px;
    }

    .black-friday-cybermonday-top-banner-content .promo-img{
        width: 700px;
        position: absolute;
        right: 0;
        margin-top: 467px;
    }

    .black-friday-cybermonday-top-banner-content .img-desktop{
        display: inline;
        width: 700px;
        position: absolute;
        margin-left: 15%;
        z-index: -1;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
